:root {
  --disabled: #eee;
  --icon: #777;
  --border: #ccc;
}

#import-source-input {
  width: 400px;
}

#import-source-btn {
  height: 22px;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.spinner.add-release {
  position: relative;
  top: 4px;
  margin-left: 4px;
  display: inline-flex;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
}

.spinner-icon.add-release {
  border: 3px solid transparent;
  border-top: 3px solid #666;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1.5s linear infinite;
  display: inline-block;
  box-sizing: border-box;
}

#sources {
  margin-top: 4px;
  margin-left: -4px;
}

.source-box {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-left: 4px;
  border: 1px solid var(--border);
  background-color: var(--disabled);
}
.source-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert() brightness(50%);
}

.source-box.active {
  background-color: black;
}
.source-box.active:before {
  filter: invert() brightness(97%);
}

.source-box.spotify:before {
  background-image: url('../svg/spotify.svg');
}
.source-box.active.spotify {
  background-color: #1ed760;
}

.source-box.soundcloud:before {
  background-image: url('../svg/soundcloud.svg');
}
.source-box.active.soundcloud {
  background-color: #ff3300;
}

.source-box.bandcamp:before {
  background-image: url('../svg/bandcamp.svg');
}
.source-box.active.bandcamp {
  background-color: #408294;
}

.source-box.discogs:before {
  background-image: url('../svg/discogs.svg');
}
.source-box.active.discogs {
  background-color: #333333;
}

.source-box.youtube:before {
  background-image: url('../svg/youtube.svg');
}
.source-box.active.youtube {
  background-color: #ff0000;
}
