:root {
  --purp: #aac;
  --purp-lite: #bbd;
  --bkg-dark: #f0f0f0;
  --bkg-lite: #fff;
  --border: #b4b4b4;
}

.settings-btn.brym {
  position: relative;
  float: right;
  width: 26px;
  height: 26px;
  margin-left: 7px;
  margin-bottom: -1px;
  background-color: var(--purp);
  cursor: pointer;
}
.settings-btn.brym:before {
  background-image: url('../svg/settings.svg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert();
}
.settings-btn.brym:hover {
  background-color: var(--purp-lite);
}

.settings-panel.brym {
  position: absolute;
  z-index: 100;
  top: 36px;
  right: 2%;
  min-width: 32px;
  min-height: 32px;
  padding: 10px;
  font-family: Verdana, Arial, Sans-Serif;
  text-align: right;
  background-color: var(--bkg-dark);
  border: 1px solid var(--purp);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease-out;
}
.settings-panel.brym.active {
  transform: scaleY(1);
}

.settings-panel.brym .setting.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2px;
}

.settings-panel.brym .setting.list {
  list-style-type: none;
}

.settings-panel.brym .setting.list .list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-panel.brym .setting.list .setting.checkbox {
  display: inline-block;
  margin-right: 4px;
}

.settings-panel.brym .setting.list .setting.list-item {
  flex: 1;
  display: inline-block;
  background-color: var(--bkg-lite);
  border: 1px solid var(--border);
  padding: 5px 10px;
  margin-bottom: -1px;
  user-select: none;
  cursor: move;
}

.settings-panel.brym .setting.list .setting.list-item.disabled {
  background-color: var(--bkg-dark);
}

.settings-panel.brym
  .setting.list
  .list-item-container:first-child
  .setting.list-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.settings-panel.brym
  .setting.list
  .list-item-container:last-child
  .setting.list-item {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 0;
}
