.ui_stream_link_btn.brym {
	opacity: 0.5;
}

.spinner {
	display: inline-flex;
	width: 2em;
	height: 2em;
	align-items: center;
	justify-content: center;
	cursor: default;
}

.spinner-icon {
	border: 3px solid transparent;
	border-top: 3px solid #666;
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	animation: spin 1.5s linear infinite;
	display: inline-block;
	box-sizing: border-box;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
