.form {
  display: flex;
  gap: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: 384px;

  & > input {
    width: 100%;
  }
}

.error {
  color: var(--gen-text-red);
}

.submit {
  &:not(:disabled) {
    cursor: pointer;
  }
}
