.icon {
  width: 32px;
  height: 32px;
  color: var(--mono-3);
  transition: opacity 0.2s;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.container {
  position: relative;

  &.initial {
    .icon {
      opacity: 0.2;
      &:hover {
        opacity: 0.3;
      }
    }
  }

  &.loading {
    .icon {
      opacity: 0.2;
      &:hover {
        opacity: 0.3;
      }
    }

    .status {
      color: var(--mono-5);
      animation: spin 1.5s linear infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &.failed {
    .icon {
      opacity: 0.2;
      &:hover {
        opacity: 0.3;
      }
    }

    .status {
      color: var(--gen-text-red);
    }
  }

  &.searched {
    .icon {
      opacity: 0.5;
      &:hover {
        opacity: 0.65;
      }
    }
  }

  &.existing {
    .icon {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
