.brym.selector-button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.25;

  &:hover {
    opacity: 0.3;
  }

  &.selected {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

fieldset.brym {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  margin-bottom: 12px;
  background: var(--mono-f2);
  border: 1px solid var(--mono-e8);
  border-radius: 3px;

  label {
    display: block;
    margin-bottom: 2px;
  }
}
