.icon {
  color: var(--mono-3);
  transition: opacity 0.2s;
}

.empty {
  opacity: 0.15;
}

.full {
  opacity: 0.8;
}

.full:hover {
  opacity: 1;
}

.container {
  position: relative;
}

.container svg {
  display: block;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
