.form {
  display: flex;
  gap: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: 384px;

  & > input {
    width: 100%;
  }
}

.icons {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0;
  color: var(--mono-3);
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &.selected {
    opacity: 0.8;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.error {
  color: var(--gen-text-red);
}

.submit {
  &:not(:disabled) {
    cursor: pointer;
  }
}
